# Ignore node_modules directory
node_modules/

# Ignore npm's cache
.npm

# Ignore yarn's cache
.yarn

# Ignore project build files
/build

# Ignore IDE and editor-specific files
.idea/
.vscode/
*.sublime-*
*.swp
